<!--<script type="text/javascript" src="/jquery/js/rotator.js"></script>-->
<div class="conten_heading">
  <div class="page_heading">
    优秀的管理团队、专业的技术力量和完善的售后服务体系
  </div>
  <div class="breadcrumb">
    <a href="index.php">首页</a>&nbsp;/&nbsp;<%= @title -%>
  </div>
</div>
<div class="content_area">
  <div class="content_mid_area">
    <div class="culture_banner">
      <img src="/images/culture.jpg" alt="Our Culture" width="902" height="238">
    </div>

    <%= render :partial => "left_menu" -%>
    <div id="box_right">
      <h3 style="top: -2px; left: -2px; font-size: 14px;border-bottom: 1px solid #DBDBDB;">
        总经理致辞
      </h3>
      <p style="padding-left: 160px;font-size: 16px;">思民族精神 创行业先锋</p>
      <p style="text-indent: 0;">各位同仁：</p>
      <p>1997年10月，“思创”号的小船起航了！</p>
      <p>流光岁月，一路上，有阳光、鲜花与掌声，也历经风雨、暗礁与骇浪。“思创”依然前行，并且由小变大！</p>
      <p>“思创”的初步成功来自于公司及全体员工在事业追求上的通力合作！为此，我非常感谢所有热情、投入、敬业、富有开拓精神的同仁们贡献了您们的力量与智慧。
        同时，也非常欢迎新的同仁们加入“思创”，并衷心希望您们能尽快融入这个团结、奋进的集体，充分施展您们的聪明才智。</p>
      <p>
        优秀员工的素质是我们成功的基础。因此，我们认为富有“敬业、职业、专业”精神的员工是公司最大的财富。
      </p>
      <p>
        敬业精神是一种工作态度。米卢说“态度决定一切”。因此，敬业精神是优秀员工的职业基准，更是企业基业常青的灵魂；职业精神是一种综合素质。
        职业精神的核心价值在于遵守公司规范、责任造就人品、团队利益为重、沟通解决一切、精确时间观念、耐心对待客户。因此，只有具有职业精神的员工，
        才能实现自身的价值，被人尊重，得到回报；专业精神是员工安身立命的技能，是“思创”服务社会的本领，是决定我们工作的水平和为客户服务的能力。
      </p>

      <p>
        为此，我希望“思创”每位员工不断学习、恪尽职守、孜孜以求，成为具有“敬业、职业、专业”精神的优秀员工。尊重知识、尊重个性、
        集体奋斗是我们事业可持续发展的内在要求。我们共同的理想是“团结共创、和谐同享”，我们共同的目标是使“思创”成为行业旗舰。
      </p>
      <p>
        “思民族精神，创行业先锋”，我坚信，通过公司及其全体员工的共同努力，我们一定会实现我们共同的理想与目标！
      </p>
      <br/>
      <p style="text-align: right;padding-right: 200px;">总经理：喻平</p>
      <br/>
    </div>
  </div>
  <div class="content_bottom"></div>
</div>