<!--<script type="text/javascript" src="/jquery/js/rotator.js"></script>-->
<div class="conten_heading">
  <div class="page_heading">
    优秀的管理团队、专业的技术力量和完善的售后服务体系
  </div>
  <div class="breadcrumb">
    <a href="index.php">首页</a>&nbsp;/&nbsp;关于我们
  </div>
</div>
<div class="content_area">
  <div class="content_mid_area">
    <div class="culture_banner">
      <img src="/images/culture.jpg" alt="Our Culture" width="902" height="238">
    </div>

    <%= render :partial => "left_menu" -%>
    <div id="box_right">
      <h3 style="top: -2px; left: -2px; font-size: 14px;border-bottom: 1px solid #DBDBDB;">
        企业文化
      </h3>
      <strong style="margin-top: 10px;display: block;">思创的使命</strong>

      <p>为客户提供满意的解决方案;为员工构造持续的成长平台;为社会承担应尽的责任</p>
      <strong>价值观</strong><br/>
      <ul>
        <li>守信</li>
        <li>务实</li>
        <li>创新</li>
        <li>求精</li>
      </ul>

      <br/>
    </div>

  </div>
  <div class="content_bottom"></div>
</div>