<!--<script type="text/javascript" src="/jquery/js/rotator.js"></script>-->
<div class="conten_heading">
  <div class="page_heading">
    卓越的技术、丰富的经验带来业内的高度认可及众多资质认证
  </div>
  <div class="breadcrumb">
    <a href="index.php">首页</a>&nbsp;/&nbsp;<%= @title -%>
  </div>
</div>
<div class="content_area">
  <div class="content_mid_area">
    <div class="culture_banner">
      <img src="/images/culture.jpg" alt="Our Culture" width="902" height="238">
    </div>

    <%= render :partial => "left_menu" -%>
    <div id="box_right">
      <h3 style="top: -2px; left: -2px; font-size: 14px;border-bottom: 1px solid #DBDBDB;">
        企业资质
      </h3>

      <div style="line-height: 26px;font-size: 12px;margin-top: 5px;">
        卓越的技术、贴心的服务、丰富的经验带来业内的高度认可及众多资质认证
        · 电子工程专业承包资质<br/>
        · 建筑智能化工程专业承包资质<br/>
        · 机电设备专业承包资质<br/>
        · 环保工程专业承包资质<br/>
        · 安全技术防范工程设计、施工资格证<br/>
        · 计算机信息系统集成资质<br/>
        · ISO9001:2004环境管理体系认证<br/>
        · ISO9001:2008质量管理体系认证<br/>
        · ISO9001:2001职业健康管理体系认证<br/>
        · 守合同，重信用AAA<br/>
        · 高新企业<br/>
        ...
      </div>

      <br/>
    </div>
  </div>
  <div class="content_bottom"></div>
</div>