<script type="text/javascript" src="/jquery/js/validation2.js"></script>
<div class="main_banner">
  <div id="transitionEffect">
    <div class="slide r1">
      <div class="banner_text" style="margin-top: 25px;"><a href="/spirit.php" style="color:black;">敬业&nbsp;&nbsp;职业&nbsp;&nbsp;专业</a></div>
    </div>
    <div class="slide r2">
      <div class="banner_text"><a href="#">绿色&nbsp;&nbsp;低碳&nbsp;&nbsp;环保</a></div>
    </div>
    <div class="slide r3">
      <div class="banner_text"><a href="#">自动化&nbsp;&nbsp;智能化&nbsp;&nbsp;信息化</a></div>
    </div>
    <div class="slide r4">
      <div class="banner_text" style="margin-top: 40px;"><a href="#">高水准&nbsp;&nbsp;全面性&nbsp;&nbsp;专业化</a></div>
    </div>
  </div>
</div>
<div id="content">
  <div class="content_l">
    <h3>思创概况</h3>
    <p>
      南昌思创工程技术有限公司始创于1997年10月，是专业从事自动控制系统集成与服务、建筑智能化系统集成与服务、企业信息化系统集成与服务、节能及运维服务的高科技公司。
      <a href="/introduction.php" style="color: #026db4;">查看详细>></a>
    </p>

  </div>
  <ul class="box">
    <li style="background-image: url(/images/boxbg.jpg);">
      <div class="bcont">
        <a href="/projects/case_list?cat=1"><img src="/images/bp1.jpg"></a>
        <h3><a href="/projects/case_list?cat=1" style="color: rgb(0, 0, 0);">自动化</a></h3>
        <p style="color: rgb(102, 102, 102);">提供集控制、优化、调度、管理、经营于一体的综合自动化解决方案</p>
      </div>
    </li>
    <li style="background-image: url(/images/boxbg.jpg);">
      <div class="bcont">
        <a href="/projects/case_list?cat=3"><img src="/images/bp2.jpg"></a>
        <h3><a href="/projects/case_list?cat=3" style="color: rgb(0, 0, 0);">信息化</a></h3>
        <p style="color: rgb(102, 102, 102);">提供公用工程信息化领域的产品、服务及智慧城市信息化解决方案</p>
      </div>
    </li>
    <li style="background-image: url(/images/boxbg.jpg);">
      <div class="bcont">
        <a href="/projects/case_list?cat=5"><img src="/images/bp6.jpg"></a>
        <h3><a href="/projects/case_list?cat=5" style="color: rgb(0, 0, 0);">智能化</a></h3>
        <p style="color: rgb(102, 102, 102);">提供化工和建设工程方面的工程设计、咨询服务</p>
      </div>
    </li>
    <li style="background-image: url(/images/boxbg.jpg);">
      <div class="bcont">
        <a href="/projects/case_list?cat=4"><img src="/images/bp3.jpg"></a>
        <h3><a href="/projects/case_list?cat=4" style="color: rgb(0, 0, 0);">节能及维保</a></h3>
        <p style="color: rgb(102, 102, 102);">提供数字化医院建设、区域卫生信息化、智能化健康管理解决方案</p>
      </div>
    </li>
  </ul>
</div>
<script type="text/javascript">
    $(".box > li").mouseenter(function(){
        $(this).css("backgroundImage","url(/images/box-hover.jpg)");
        $(this).children(".bcont").children("H3").children("a").css("color","#eb8102");
        $(this).children(".bcont").children("p").css("color","#e6e6e6");
    }).mouseleave(function(){
                $(this).css("backgroundImage","url(/images/boxbg.jpg)");
                $(this).children(".bcont").children("H3").children("a").css("color","#000");
                $(this).children(".bcont").children("p").css("color","#666");
            });
</script>
<%#= render :partial => "/common/friend_links" -%>