<script type="text/javascript" src="/jquery/js/validation2.js"></script>
<div class="main_banner">
  <div id="transitionEffect">
    <div class="slide r1">
      <div class="banner_text"><a href="services.php">See Our Services</a></div>
    </div>
    <div class="slide r2">
      <div class="banner_text"><a href="daybreak.php">Case Study</a></div>
    </div>
    <div class="slide r3"></div>
    <div class="slide r4">
      <div class="banner_text"><a href="services.php">Find what we can do for you</a></div>
    </div>
  </div>
</div>
<div id="content">
  <h5>Since 2004, We've been making Web and Mobile Stuff for Start-ups, Non-Profits, and Big Brands.</h5>

  <div class="mid_content">
    <div class="gossips_area">Our team talking about <span class="gossips_area_acitve">our company</span>,
      <span class="gossips_area_acitve">our work</span>, <span class="gossips_area_acitve">our clients</span>,
      <span class="gossips_area_acitve">industry events</span>, and
      <span class="gossips_area_acitve">each other</span>.<br/>
      <a href="/blog" target="_blank">More ›</a></div>
    <div class="news_box">
      <a href="http://www.syxer.com/blog/?p=16" target="_blank">Designing for Facebook: the MyBand Application
        Redesign</a> 02/10
      <p><a href="http://www.syxer.com/blog/?p=10" target="_blank">Syxer Paints the Town</a> 02/03</p>

      <p><a href="http://www.syxer.com/blog/?p=22" target="_blank">Refresh Recap: On Regeneration</a> 01/28</p>
    </div>
    <div class="tweets_box"><span class="day">about 1 day ago</span><br/>
      Syxer delivers a great CMS and product customization portal for a US interior design company.
    </div>
  </div>
</div>