<script type="text/javascript" src="/jquery/js/validation2.js"></script>
<div class="main_banner">
  <div id="transitionEffect">
    <div class="slide r1" style="background-position: 0 -100px;">
      <div class="banner_text"><a href="/spirit.php">“喻平精神”</a></div>
    </div>
    <div class="slide r2">
      <div class="banner_text"><a href="#">青云水厂</a></div>
    </div>
    <div class="slide r3">
      <div class="banner_text"><a href="#">牛行水厂中控系统</a></div>
    </div>
    <div class="slide r4">
      <div class="banner_text"><a href="#">乐平污水处理厂</a></div>
    </div>
  </div>
</div>
<div id="content">
  <h5>
    始终奉行“实用、可靠、有效益、适度先进”的理念，为客户提供全优的系统解决方案。
  </h5>

  <div class="mid_content">
    <div class="gossips_area">思创工程是专业从事自动控制系统集成与服务、建筑智能化系统集成与服务、节能及运维服务的高科技公司。<br/>
      <a href="/about_us.php" target="_blank">详细 ›</a></div>
    <div class="news_box">
      <font style="color:black;">成功案例</font><br/>
      <% unless @projects.blank? -%>
          <% @projects.each do |p| -%>
              <p>
                <a href="/projects/show/<%= p.id -%>.php" target="_blank"><%= p.name -%></a>
                <font style="float:right;"><%= format_date(p.created_at, :date) -%></font>
              </p>
          <% end -%>
      <% else -%>
          <p>暂无数据</p>
      <% end -%>
    </div>
    <div class="tweets_box">
      未来，思创工程将一如既往地以诚为本，以变为道，奉行“更密切、更快捷、更高效、更全面、更专业”的服务理念，继续追求技术创新，提供高水准、全面性、专业化的服务，致力于将公司打造成立足江西，辐射周边，面向全国的行业翘楚。
    </div>
  </div>
</div>