<!--<script type="text/javascript" src="/jquery/js/rotator.js"></script>-->
<div class="conten_heading">
  <div class="page_heading">
    优秀的管理团队、专业的技术力量和完善的售后服务体系
  </div>
  <div class="breadcrumb">
    <a href="index.php">首页</a>&nbsp;/&nbsp;<%= @title -%>
  </div>
</div>
<div class="content_area">
  <div class="content_mid_area">
    <div class="culture_banner">
      <img src="/images/culture.jpg" alt="Our Culture" width="902" height="238">
    </div>

    <%= render :partial => "left_menu" -%>
    <div id="box_right">
      <h3 style="top: -2px; left: -2px; font-size: 14px;border-bottom: 1px solid #DBDBDB;">
        公司简介
      </h3>

      <p>
        南昌思创工程技术有限公司始创于1997年10月， 以多技术融合为企业核心竞争力，是专业从事自动控制系统集成与服务、建筑智能化系统集成与服务、企业信息化系统集成与服务、节能及运维服务的高科技公司。
      </p>

      <p>
        将先进的自动化技术、智能化技术、信息化技术进行集成开发和应用，实现高水准、全面性、专业化的项目管理，为客户
        提供建设与服务全过程一站式的解决方案是思创公司的主要发展方向。
      </p>

      <p>
        公司长期坚持全面型、工程化建设的发展理念，注重企业平台建设。目前已取得“电子工程专业承包”、“机电设备安装工程专业承包”、“建筑智能化工程专业承包”、
        “环保工程专业承包”以及“计算机信息系统集成”、“安全技术防范工程设计、施工”等多项资质，获得“守合同，重信用AAA”荣誉称号，
        并一举通过了国家发改委组织的 “节能服务公司”认定，成为江西省同行业著名企业。
      </p>

      <p>
        工矿企业过程控制自动化及城市公用事业建筑智能化是思创公司的两大核心业务板块，公司在市政、环保、水利、冶金、化工、城市交通、城市智能建筑等多个
        行业拥有众多的大中型工程业绩。经过十余年的健康发展，依托于优秀的管理团队、专业的技术力量和完善的售后体系，思创公司已为众多行业客户提供了建设
        与服务全过程一站式的解决方案，成为江西自控行业的领军企业。
      </p>

      <p>
        未来，思创工程将一如既往地以诚为本，思“创”为道，奉行“更密切、更快捷、更高效、更全面、更专业”的服务理念，继续追求技术创新，
        为客户提供高水准、全面性、专业化的服务为己任，致力于将公司打造成立足江西，辐射周边，面向全国的行业翘楚。
      </p>

      <br/>
    </div>
  </div>
  <div class="content_bottom"></div>
</div>