<!--<script type="text/javascript" src="/jquery/js/rotator.js"></script>-->
<div class="conten_heading">
  <div class="page_heading">
    优秀的管理团队、专业的技术力量和完善的售后服务体系
  </div>
  <div class="breadcrumb">
    <a href="index.php">首页</a>&nbsp;/&nbsp;<%= @title -%>
  </div>
</div>
<div class="content_area">
  <div class="content_mid_area">
    <div class="culture_banner">
      <img src="/images/culture.png" alt="Our Culture" width="902" height="238">
    </div>

    <%= render :partial => "left_menu" -%>
    <div id="box_right">
      <h3 style="top: -2px; left: -2px; font-size: 14px;border-bottom: 1px solid #DBDBDB;">
        组织机构
      </h3>

      <!--<p>灵活合理的决策权分配系统，积极激励的奖惩系统和严格专业的业绩评估系统，贯穿于各个公司及各级部门，-->
        <!--保持着公司业务运作的平衡及协调，成为我们拓展前进的强大动力源之一。</p>-->

      <img src="/images/organ.jpg"/>
      <br/>
    </div>

  </div>
  <div class="content_bottom"></div>
</div>