<div class="conten_heading">
  <div class="page_heading">
    我们用心做好每一个项目
  </div>
  <div class="breadcrumb">
    <a href="index.php">首页</a>&nbsp;/&nbsp;成功案例
  </div>
</div>
<div class="content_area">
  <div class="content_mid_area">
    <div class="content_text_area">
      <% unless @projects.blank? -%>
          <% tag = '' -%>
          <% @projects.each_with_index do |p, index| -%>
              <% tag = '3' if (index + 1)%3 == 2 -%>
              <% tag = '2' if (index + 1)%3 == 0 -%>
              <div class="thumb_portfolio<%= tag -%>">
                <a href="/projects/show/<%= p.id -%>.php">
                  <img src="/projects/<%= p.index_pic -%>" width="275" height="228" border="0" class="vtip" title="<%= p.name -%>"></a>
              </div>
          <% end -%>
      <% end -%>
    </div>
  </div>
  <div class="content_bottom"></div>
</div>