<div class="conten_heading">
  <div class="page_heading">
    期待你的加入
  </div>
  <div class="breadcrumb">
    <a href="index.php">首页</a>&nbsp;/&nbsp;招贤纳士
  </div>
</div>
<div class="content_area">
  <div class="content_mid_area">
    <div class="content_text_area" style="min-height: 280px; padding-left:35px;">
      <h2 style="border-bottom:1px dotted #cccccc;width: 820px;">注册一级建造师</h2>
      <br/>
      <div style="text-align: left;font-weight: bold;">
        职位描述
      </div>
      <div style="text-align: left;margin-top: 10px; line-height: 22px;">
        首要类别：自动化控制、机电安装、建筑智能化<br>
        工作地点：南昌<br>
        月薪范围：面议<br>
        招聘人数：若干<br>
        职责描述：<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        机电相关专业毕业，大学专科或以上学历,有注册一级建造师资格证。<br>
        <br/>
        有意者请将简历及资格证书扫面件发送至邮箱<a href="mailto:1471705155@qq.com">1471705155@qq.com</a>
        <br/>
        或致电 0791-8810 3293
      </div>
    </div>
  </div>
  <div class="content_bottom"></div>
</div>