<!--<script type="text/javascript" src="/jquery/js/rotator.js"></script>-->
<div class="conten_heading">
  <div class="page_heading">
    发扬“喻平精神”
  </div>
  <div class="breadcrumb">
    <a href="index.php">首页</a>&nbsp;/&nbsp;喻平精神
  </div>
</div>
<div class="content_area">
  <div class="content_mid_area">
    <div align="center">
       <img src="/images/spirit.jpg" width="600" height="376" />
    </div>
    <div class="culture_text">
      <p>
        南昌思创工程技术有限公司始创于1997年10月，是专业从事自动控制系统集成与服务、建筑智能化系统集成与服务、节能及运维服务的高科技公司。
        创业十多年来，思创工程不断探索，始终奉行“实用、可靠、有效益、适度先进”的理念，根据项目需求，利用系统集成的方法，将计算机网络技术、
        通信技术、信息技术与工程项目有机地结合起来，通过对设备的自动监控，对信息资源的管理和对客户的信息服务，实现与工程项目之间的优化组合，
        为客户提供建设与服务全过程一站式的系统解决方案。
      </p>


    </div>
  </div>
  <div class="content_bottom"></div>
</div>