#transitionEffect {
    width: 980px;
    height: 428px;
    overflow: hidden;
}
.slide {
    position: relative;
    height: 428px;
    width: 980px;
    background: #fff;
    text-align: center;
}
.r1 {
    /*background-image: url("/images/banner_health.jpg");*/
    background-image: url("/images/index2.jpg");
    background-repeat: no-repeat;
    background-position: left top;
}
.r2 {
    /*background-image: url("/images/banner_daybreak.jpg");*/
    background-image: url("/images/qingyun.jpg");
    background-repeat: no-repeat;
    background-position: left top;
}
.r3 {
    background-image: url("/images/niuhang.jpg");
    background-repeat: no-repeat;
    background-position: left top;
}
.r4 {
    background-image: url("/images/leping.jpg");
    background-repeat: no-repeat;
    background-position: left top;
}
#introslide {
    background: #000;
    color: #eee;
    text-align: center;
    z-index: 500;
}
#introslide p {
    padding-top: 50px;
    font-size: 0.9em;
    margin: 0;
}
div.fadenav {
    position: absolute;
    top: 380px;
    right: 884px;
}
div.fadenav a {
    display: block;
    width: 24px;
    height: 24px;
    float: left;
    overflow: hidden;
    background-image: url("/images/circle.png");
    background-repeat: no-repeat;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px;
    text-decoration:none;
    outline: none;
    border:none;
}
div.fadenav a:hover {
    text-decoration: none;
    background-image: url("/images/circle_hover.png");
    background-repeat: no-repeat;
    height:24px;
    width:24px;
    outline: none;
    border:none;
}
div.fadenav a.current {
    background-image: url("/images/circle_active.png");
    background-repeat: no-repeat;
    height:24px;
    width:24px;
    outline: none;
    border:none;
}
.banner_text {
    float:left;
    width:260px;
    margin-left: 34px;
    margin-top:316px;
    font-size:20px;
    text-align:left;
}
.banner_text a {
    color:#FFFFFF;
    text-decoration:none;
}
.banner_text a:hover {
    /*color:#FFFFFF;*/
    color:#FF8000;
    text-decoration: underline;
}