<div class="conten_heading">
  <div class="page_heading">
    项目案例
  </div>
  <div class="breadcrumb">
    <a href="/index.php">首页</a>&nbsp;/&nbsp;<a href="/projects.php">成功案例</a>&nbsp;/&nbsp;<%= @title -%>
  </div>
</div>
<div class="content_area">
  <div class="content_mid_area">
    <div class="culture_banner">
      <div class="porfolio_snap_text">
        <h3>
          江西洪城水业牛行水厂
        </h3>

        <p>南昌市重点工程项目，洪城水业股份集团投资建设。采用先进的V型滤池生产工艺，一期工程10万吨/日，最终将达到日供水量30万吨/日的规模。
          全厂自动化系统由思创工程技术承建实施，自动化系统总投资约450万元，于2005年11月投产。整个工程投产后满足红谷滩中心区的生产和生活用水。
        </p>
      </div>
      <div class="portfolio_snapshot">
        <div class="portfolio_area">
          <img src="/images/snap_elementjeans.jpg" alt="Element Jeans" width="487" height="251"></div>
      </div>
    </div>
    <div class="culture_text">
      <div class="snap_description">
        <h3>
          年份
        </h3>
        2011年
        <br/>
        <br/>

        <h3>
          技术特点
        </h3>
        <p>整个自动化系统的设计及构造符合“集中监控、分散控制”的原则，由现场PLC控制子站、分站以及中央监控系统三级构成，具有高度的可靠性。
        由于系统具有真正的分层和分布式结构，可实现现场手动控制、远程直接控制和远程全自动控制三种操作方式，完全满足水厂设备及工艺参数的监视和控制要求。
        </p>
      </div>
      <div class="snap_brief"><strong>系统配置</strong><br>
        水厂控制系统基于施耐德 Quantuam PLC硬件平台和IFIX监控软件平台。其工厂管理层主干网路为工业型100M光纤以太网，保证大容量数据传输的高速性，考虑与自控系统的兼容性，
        所有以太网交换机均采用自控系统硬件生产厂家的施耐德公司的工业型499NOS系列产品，通讯介质采用多模光纤；工业控制层网络采用MODBUSOLUS令牌光纤环网，保证数据传输的准确性，
        网络连接无需外置的交换设备，通过安装在PLC机架上的140NOM系列MODBUSPLUS光纤模块直接互连，网络速度为1M,通讯介质同样采用多模光纤。自控系统的设计及构造符合“集中监控、
        分散控制”原则，牛行水厂全厂自控系统由现场控制子站、现场控制分站、中央控制中心三级组成。
      </div>
    </div>
  </div>
  <div class="content_bottom"></div>
</div>