<h1 class="title">人事部</h1>
<%= link_to "员工列表", {:controller => "users", :action => "list"} %>

<h1 class="title">项目部</h1>
<%= link_to "项目列表", {:controller => "projects", :action => "list"} %>

<h1 class="title">管理</h1>
<%= link_to "车辆列表", {:controller => "cars", :action => "list"} %>&nbsp;&nbsp;
<%= link_to "留言列表", {:controller => "messages", :action => "list"} %>



