<div style="clear:both;"></div>
<div style="margin-top: 20px;border-bottom: 1px solid #CFCFCF;">
  友情链接
</div>
<div id="banner2" style="clear:both;margin-top:10px;width:980px;">
  <div id="colee_left" style="overflow:hidden;width:980px;">
    <table cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td id="colee_left1" valign="top" align="center" height="60">
          <table cellpadding="2" cellspacing="0" border="0">
            <tr align="center">
              <td>
                <p style="width:142px;height: 60px;margin:5px 2px 0;"><a target="_blank" href="http://www.schneider-electric.com">
                  <img border="0" src="/images/friend_links/se_logo.gif"/></a></p>
              </td>
              <td>
                <p style="width:142px;height: 60px;margin:5px 2px 0;"><a target="_blank" href="http://www.instrument.com.cn">
                  <img border="0" src="/images/friend_links/SH_logo.jpg"/></a></p>
              </td>
              <td>
                <p style="width:142px;height: 60px;margin:5px 2px 0;"><a target="_blank" href="http://www.qkgd.com/">
                  <img border="0" src="http://www.archcy.com/2012/ad_images/qkgd.jpg" alt='qkgd'/></a></p>
              </td>
              <td>
                <p style="width:142px;height: 60px;margin:5px 2px 0;"><a target="_blank" href="http://www.get-design.cn/">
                  <img border="0" src="http://www.archcy.com/resource2011/images/dejiemeng.jpg" alt='德杰盟'/></a></p>
              </td>
              <td>
                <p style="width:142px;height: 60px;margin:5px 2px 0;"><a target="_blank" href="http://www.infinity.com.cn ">
                  <img border="0" src="http://www.archcy.com/2012/ad_images/jinbi.jpg"/></a></p>
              </td>
            </tr>
          </table>
        </td>
        <td id="colee_left2" valign="top"></td>
      </tr>
    </table>
  </div>
  <script>
      //使用div时，请保证colee_left2与colee_left1是在同一行上.
      var speed = 60; //速度数值越大速度越慢
      var colee_left2 = document.getElementById("colee_left2");
      var colee_left1 = document.getElementById("colee_left1");
      var colee_left = document.getElementById("colee_left");
      colee_left2.innerHTML = colee_left1.innerHTML;
      function Marquee3() {
          if (colee_left2.offsetWidth - colee_left.scrollLeft <= 0)//offsetWidth 是对象的可见宽度
              colee_left.scrollLeft -= colee_left1.offsetWidth; //scrollWidth 是对象的实际内容的宽，不包边线宽度
          else {
              colee_left.scrollLeft++;
          }
      }
      var MyMar3 = setInterval(Marquee3, speed);
      colee_left.onmouseover = function () {
          clearInterval(MyMar3);
      };
      colee_left.onmouseout = function () {
          MyMar3 = setInterval(Marquee3, speed);
      }
  </script>
</div>