<!DOCTYPE html>
<html>
<head>
  <title>Strong</title>
  <link type="text/css" href="/stylesheets/web-app-theme/base.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/web-app-theme/themes/bec/style.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/web-app-theme/override.css" rel="stylesheet" />
</head>
<body>
  <div id="container">
    <div id="box">
      <%= yield %>            
    </div>
  </div>
</body>
</html>
